# Data Pre-processing for Multi-Label text classification

In [4]:
# Importing required libraries
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [5]:
# Load data
df = pd.read_csv("data/data.csv")
df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [6]:
# separate explanatory and dependent variables
X = df.iloc[:,1]
y = df.iloc[:,2:]

In [7]:
# split for cross-validation (train-60%, validation 20% and test 20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=123)

X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.5, random_state=123)

In [8]:
# Check if the class proportions are maintained in the splits
display(y.apply(lambda x:  x.value_counts()/x.value_counts().sum()))
display(y_train.apply(lambda x:  x.value_counts()/x.value_counts().sum()))
display(y_test.apply(lambda x:  x.value_counts()/x.value_counts().sum()))
display(y_val.apply(lambda x:  x.value_counts()/x.value_counts().sum()))

      toxic  severe_toxic   obscene    threat    insult  identity_hate
0  0.904156      0.990004  0.947052  0.997004  0.950636       0.991195
1  0.095844      0.009996  0.052948  0.002996  0.049364       0.008805

      toxic  severe_toxic   obscene    threat    insult  identity_hate
0  0.902979      0.990067  0.946481  0.997065  0.950189       0.991206
1  0.097021      0.009933  0.053519  0.002935  0.049811       0.008794

      toxic  severe_toxic   obscene    threat    insult  identity_hate
0  0.905465      0.989597  0.948079  0.997055  0.951589       0.991508
1  0.094535      0.010403  0.051921  0.002945  0.048411       0.008492

      toxic  severe_toxic   obscene    threat    insult  identity_hate
0  0.906376      0.990224  0.947736  0.996773  0.951026       0.990851
1  0.093624      0.009776  0.052264  0.003227  0.048974       0.009149